.card {
  padding: 20px;
}
.title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.title span {
  color: var(--color-text-secondary);
  font-size: 12px;
}
.title h2 {
  margin-top: 3px;
  font-size: 16px;
}
.title svg {
  color: #6879e4;
}
.number {
  margin: 20px 0 12px;
  font-size: 31px;
  font-weight: 800;
  letter-spacing: -1px;
}
.number small {
  font-size: 17px;
}
.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-top: 12px;
  color: var(--color-text-secondary);
  font-size: 11px;
}
.stats span:last-child {
  display: flex;
  align-items: center;
  gap: 4px;
}
